API_PORT=":8080"
API_FILE_UPLOAD_MAX_SIZE=1000 # in mb

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=cfuser
POSTGRES_PASSWORD=cfpwd
POSTGRES_DBNAME=cfdb

DB_MAX_OPEN_CONNS=25
DB_CONN_MAX_LIFETIME_MINUTES=3
DB_MAX_IDLE_CONNS=5

GOOSE_MIGRATION_DIR=db/migrations

MINIO_ENDPOINT="minio:9000"
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=user-files
MINIO_USE_SSL=false
MINIO_FILES_PAGINATE=10

REDIS_ENDPOINT="redis:6379"
REDIS_PASSWORD=""
REDIS_DB=0

ACCESS_TOKEN_EXPIRES_MINUTES=1
REFRESH_TOKEN_EXPIRES_HOURS=168

JWT_SECRET="jwtsecretkey"
JWT_ISSUER="cloud-storage"

COOKIE_SECURE=false
COOKIE_SAME_SITE="lax"

CORS_ALLOW_ORIGINS="http://localhost,http://localhost:80"
CORS_ALLOW_METHODS="GET,POST,PATCH,DELETE,OPTIONS"
CORS_ALLOW_HEADERS="Content-Type,Authorization"
CORS_ALLOW_CREDENTIALS=true
